*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 115, 0);
}

/*Titulo*/

.app{
    display: flex;
    flex-direction: column;
}

.titulo-box{
    text-align: center;
    margin-left: 10%;
}
h1{
    font-size: 80px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
h2{
    font-size: 2em;
    font-family: sans-serif;
    color: white;
}

/* Cards */

.titulo-cards{
    font-size: 3em;
    margin: 1%;
    margin-left: 10%;
    color: white;
}
.cards-box {
    margin-left: 10%;
    width: 694px;
    display: flex;
    flex-wrap: wrap;
}
.produto {
    width: 100%; 
}
img{
  margin: -84px;
}

/* Carrinho */

.Carrinho{
    width: 400px;
    height: 550px;
    background-color: #F7E0CE;
    position:absolute;
    left: 60%;
    top: 15%;
    border-radius: 110px;
}
.Carrinho-centro{
    width: 300px;
    height: 420px;
    background-color:#D3C5BB;
    position: relative;
    left: 52px;
    top: 50px;
    border-radius: 50px;
    font-weight: bold;
    text-align: center;
    padding: 200px 20px;
}
.Botoes-carrinho{
    position: absolute;
    left: 131px;
    bottom: 30px;
    background-color: white;
    width: 140px;
    height: 30px;
    border-radius: 40px
}
button{
    margin-left: 25px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    border: none;
    font-size: 25px;
    background-color: white;
}